$header-bg-color: $dark-blue;
$border-color: $gray;
$fonts1: 'Roboto', sans-serif;
$font2: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
