* {
	transition:all .8 ease-in;
}

body {
	background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
	margin-left: 0;
}

header {
   border: 1px solid black;
}
header:after {
  display: table;
  content: "";
  clear: both;
}

label {
	color: white;
}
table {
  border: 1px solid black;
  border-collapse: collapse !important;
  -webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);

}
td {
  border: 1px solid black;
  font-size: 12px;
}

tr {
	background-color: #e9e9e9;
}

li {
	list-style: none;
}

#footer {
	width: 100%;
  background-color: black;
  bottom: -50px;
  height: 50px;
  font: white;
  color: white;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  padding-left: 5%;
  text-align: left;
}

/*App Content*/
.app {
	height: 100%;
}

/*Header Content */

.header {
	margin-bottom: 0;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #202020); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #202020); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  color: white;
  -webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
}

.center-content {
  width: 80%;
  margin: 0 auto;
}
.ainer {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
}

.player-table {
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
	height: 500px;
	overflow: auto;
}
.menu-btn {
  margin-left: 15px;
  padding-top: 18px;
}
.menu-btn span {
  border: 1px solid #e9e9e9;
  display: block;
  margin-bottom: 5px;
  width: 30px;
}
.login-btn {
  float: right;
  margin-right: 30px;
}

/*PlayerView*/
.player-background-image {
	margin-top: -8px;
	background-image: url(http://wallpapercave.com/wp/iYwVeZy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-form {
	background-color: #202020;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
	padding: 5px;
}

.filter-form-select {
	display: inline-block;
	width: 20%;
	margin-right: 3px;
	padding: 8px;
}

.filter-form-select-button {
	margin-left: 3%;
}
/*Nav bar containers*/
.app-container {
	height: 100%;
}

.nav-canvas {
	position: absolute;
	left: -170px;
	-webkit-transition: width .1s, height .1s, background-color .1s, -webkit-transform .1s;
	transition: width .1s, height .1s, background-color .1s, transform .1s;
	transition-duration: .1s;
	transition-timing-function: ease-out;
	transition: 0.2s;
}

.nav-canvas-clicked {
	position: absolute;
	left: 0px;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 2;
	padding-right: 2px;
	border: 1px black solid;
	-webkit-transition: width .1s, height .1s, background-color .1s, -webkit-transform .1s;
	transition: width .1s, height .1s, background-color .1s, transform .1s;
	transition-duration: .5s;
	transition-timing-function: ease-in;
  transition: 0.2s;
}

.main-content {
  transition: all 0.25s ease;
	position: relative;
	left: 0px;
	height: 100%;
}

.main-content-clicked {
  transition: all 0.25s ease;
	left: 155px;
	height: 100%;
	position: relative;
}

.nav-link {
	list-style: none;
	border: 2px solid black;
	padding: 10px;
	margin-top: .5px;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%;
}
.shadow {
  transition: all 0.25s ease;
	position: fixed;
}
.shadow-modal {
	position: fixed;
}

.shadow-click {
  transition: all 0.25s ease;
	position: fixed;
	width: 100%;
	height: 2000px;
	background: rgba(0,0,0,.4);
	z-index: 1;
}

.shadow-modal-click {
	position: fixed;
	width: 100%;
	height: 2000px;
	background: rgba(0,0,0,.4);
	z-index: 2;
}

/* Compare Container */
.compare-container {
	width: 80%;
	margin: auto;
}

.compare-player1 {
	width: 40%;
	display: inline-block;
	float: left;
}

.compare-player2 {
	width: 40%;
	display: inline-block;
	float: right;
}

.player1-image, .player2-image {
	width: 100%;
	height: 100%;
}

.player1-search, .player2-search {
	display: inline;
	width: 50%;
}

.switch-player {
	text-align: center;
	float: left;
	background-color: green;
}

.inline-button {
	margin: auto;
	border: 1px solid black;
}

.stat-heading {
  cursor: pointer;
}

/*Modal Content*/

.modal, .modal-click  {
  visibility: hidden;
  position: fixed;
  top: 25%;
  width: 50%;
  background: #e9e9e9;
  border: 3px solid black;
  border-radius: 4px;
  height: 350px;
  left: 25%;
  z-index: 20;
  -webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
	-webkit-transition: width .1s, height .1s, background-color .1s, -webkit-transform .1s;

}


	/*Look for the translate property.. It will translate the component 50% of the page (horizontal, vertical)*/
.modal-header {
	height: 15%;
	background-color: #333;
	border-top: 1px solid white;
	color: white;
	text-align: center;
	padding-top: 11px;
	font-weight: bold;
	font-size: 20px;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
}

.modal-player-info {
  border: 1px solid black;
  height: 35%;
  background-color: black;
  color: white;
  padding: 3px;
	font-family: $font2;
}

.modal-player-image {
	height: 100%;
	width: 26%;
	float: left;
}
.modal-tweets {
	height: 100px;
	overflow: scroll;
}
.modal-player-bio {
	float: right;
	margin-right: 55%;
	padding-top: 5%;
	height: 100%;
	font-weight: bold;
}

.modal-schedule-info {
  width: 100%;
  height: 50%;
}

.modal-schedule-container {
  width: 100%;
  display: inline-block;
  float: left;
  overflow: auto;
  height: 100%;
}

.modal-table {
    font-size: 10px;
    font-color: red;
    font-size: 10px;
    width: 100%;
    display: inline-table;
    height: 100%;
    margin-bottom: -32px;
}

.modal-player-notes-container {
    overflow: auto;
    width: 30%;
    display: inline-block;
    height: 100%;
}

.modal-player-notes {
    width: 100%;
    display: inline-block;
    background-color: yellow;
    size: 100%;
    height: 100%;
}

/*Schedule Styles*/

.schedule-week-current {
    display: inline-block;
    float:  left;
}

.schedule-week-list {
    display: inline-block;
    margin-left:  30px;
}

.schedule-game-container {
	width: 80%;
	margin: 0 auto;
}
.schedule-game {
		height: 100px;
		margin-left: 10%;
		margin-right: 10%;
		width: 100%;
		display: table-row;
		background-color: white
}

.schedule-time {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin-bottom: -25%;
	top: 10%;
	padding: 10px;
	border: 1px solid black;
	background-color: #e9e9e9;
}

.schedule-week-current {
	width: 100%;
}

.schedule-image{
	align-items: center;
	height: 90px;
	width: 70px;
	margin-left: 40%;
	padding-bottom: 20px;
	text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.schedule-week-list li {
	display: inline;
	margin-right: 2px;
  border: 1px solid white;
	color: white;
}
.schedule-week-list li button {
	margin-right: 2px;
}

span.team1 {
  width:  35%;
	color: white;
	height: 100%;
	text-align: center;
	display: table-cell;
}

span.team2 {
  width:  35%;
	color: white;
	height: 100%;
	text-align: center;
	display: table-cell;
}

.team1 {
    width: 40%;
    margin-left: 10%;
    display:  table-cell;
    border: 1px solid black;
		background-color: #e9e9e9;
		-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
}

.team2 {
    width: 40%;
    margin-right:  10%;
    display: table-cell;
		border: 1px solid black;
		background-color: #e9e9e9;
		-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
}

/*Testing out indviduals team styles*/
.team1-NO, .team2-NO {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
}

.team1-MIA, .team2-MIA {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #02AAB0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #02AAB0 , #00CDAC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #02AAB0 , #00CDAC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-DET, .team2-DET {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #4CA1AF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-MIN, .team2-MIN {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #5614B0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5614B0 , #DBD65C); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5614B0 , #DBD65C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-IND, .team2-IND {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-TB, .team2-TB {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #eacda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eacda3 , #d6ae7b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eacda3 , #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.team1-ATL, .team2-ATL {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #8E0E00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E0E00 , #1F1C18); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8E0E00 , #1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-CHI, .team2-CHI {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #005C97; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-DAL, .team2-DAL {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #304352 , #d7d2cc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #304352 , #d7d2cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.team1-GB, .team2-GB {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #b4ddb4; /* Old browsers */
  background: -moz-linear-gradient(left, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.team1-NYG, .team2-NYG {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.team1-PHI, .team2-PHI {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #6A9113; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6A9113 , #141517); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6A9113 , #141517); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-LA, .team2-LA {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #004FF9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #004FF9 , #FFF94C); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #004FF9 , #FFF94C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.team1-NYJ, .team2-NYJ {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #5A3F37; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5A3F37 , #2C7744); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5A3F37 , #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-BUF, .team2-BUF {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #0099F7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0099F7 , #F11712); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0099F7 , #F11712); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-HOU, .team2-HOU {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.team1-KC, .team2-KC {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #a73737; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #a73737 , #7a2828); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #a73737 , #7a2828); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-WAS, .team2-WAS {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #C02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C02425 , #F0CB35); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #C02425 , #F0CB35); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-OAK, .team2-OAK,
.team1-PIT, .team2-PIT,
.team1-JAX, .team2-JAX {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-TEN, .team2-TEN {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff , #928DAB); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff , #928DAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-DEN, .team2-DEN {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #0B486B; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0B486B , #F56217); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0B486B , #F56217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-SF, .team2-SF {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #F00000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F00000 , #DC281E); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F00000 , #DC281E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-SEA, .team2-SEA {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-CAR, .team2-CAR {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000428 , #004e92); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000428 , #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.team1-CLE, .team2-CLE {
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
  background: #FF8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF8008 , #FFC837); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FF8008 , #FFC837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.team1-SD, .team2-SD {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	background-color: #e9e9e9;
	background: #003973;
  background: -webkit-linear-gradient(to left, #003973 , #E5E5BE);
  background: linear-gradient(to left, #003973 , #E5E5BE);
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
}

.team1-NE, .team2-NE {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
	background-color: #e9e9e9;
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-ARI, .team2-ARI {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
  background: #870000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #870000 , #190A05); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #870000 , #190A05); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team1-BAL, .team2-BAL {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 15px rgba(30,30,30,.75);
}



.team1-CIN, .team2-CIN {
	width: 40%;
	margin-right:  10%;
	display: table-cell;
	border: 1px solid black;
  background: #c21500; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c21500 , #ffc500); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c21500 , #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.schedule {
    background-color: #494949;
}

/* Charts */
.chart-container {
  width: 800px;
}

.double-bar-chart {
  width: 100px;
  height: 100px;
}







/*Line Chart*/

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis--x path {
	display: none;
}

.line, .line-yards, .line-touch-downs {
	fill: none;
	stroke: steelblue;
	stroke-width: 5.5px;
}

.line-yards {
	stroke: #46b46d;
}

.line-touch-downs {
	stroke: #ef7118;
}
.legend-pt, .legend-py, .legend-td {
	position: absolute;
	padding: 10px;

}
.legendOrdinal {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}
svg {
	border: 1px solid #ededed;
	margin: 0 auto;
	display: block;
}
.axis.axis--x {
	display: none;
}
.axis.axis--x:first-of-type {
	display: block;
}

.arc text {
	font: 10px sans-serif;
	text-anchor: middle;
}

.arc path {
	stroke: #fff;

/* DIY View */
.DIYPlayer {
	/*height: 160px;*/
}

.DIYStatement {
	float:left
}


.modal-tweets {
	height: 50px;
	overflow: scroll;
}

.team-view-headline {
	position: relative;
	font-size: 68px;
	text-align: center;
	color: #fff;
}

.loading {
	width: 100px;
	height: 720px;
	background-color: blue;
}
